<section class="features-icons bg-dark text-center">
    <div class="container">
        <div class="row">
            <h2 style="text-align: center; color: white;"> Los mejores productos a tu alcance con solo 3 pasos.</h2>

            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"></div>
                    <h3 style="color: white;">Registrarse e Iniciar sesión</h3>
                    <p style="color: white;" class="lead mb-0">Iniciar tu cuenta te hara tener acceso a infinidad de productos</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"></div>
                    <h3 style="color: white;">Consulta</h3>
                    <p style="color: white;" class="lead mb-0">Encontraras lo que deseas en los mejores precios.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"></div>
                    <h3 style="color: white;">Compra</h3>
                    <p style="color: white;" class="lead mb-0">Obtendras tu pedido de forma segura y con facilidad de pago.</p>
                </div>
            </div>
        </div>
    </div>
</section>
