<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark">
      <div class="modal-header ">
        <h3 class="modal-title" style="color: white;" id="exampleModalLabel">Tu carrito de compra</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">       

              <div class="row">
                <div class="col-sm-12" >
                  <h5 style="color: white; ">Xbox series x</h5>
                  <div class="row">
                    <div class="col-4 col-sm-2">
                      <img style="width: 100px; height: 100px;" src="https://www.sams.com.mx/images/product-images/img_small/980023267s.jpg" alt="">
                    </div>
                    <div class="col-2 col-sm-3" style="display: flex; align-items: center; ">
                      <p style="color: white; text-align: justify;">Caracteristicas de bla bla bla bla bal abla ablab abla abla bal abla alba lba bla</p>
                    </div>
                    <div class="col-2 col-sm-2" style="display: flex; align-items: center;">
                      <p style="color: white;">Cantidad: 1</p>
                    </div>
                    <div class="col-2 col-sm-2" style="display: flex; align-items: center;">
                      <p style="color: white;">Precio: $350</p>
                    </div>
                    
                    <div class="col-0 col-sm-2 nav-item" style="display: flex; align-items: center; justify-content: center;">
                      <a style="background-color: rgb(255, 196, 0);" class="btn btn-block" ><i class="fa fa-minus"</i></i></a>
                      <p>.</p>
                      <a style="background-color: rgb(255, 196, 0);" class="btn btn-block" ><i class="fa fa-plus"></i></i></a>
                      <p>.</p>
                      <a style="background-color: rgb(255, 196, 0);" class="btn btn-block" ><i class="fa fa-window-close"></i></i></a>

                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" >
                  <h5 style="color: white; ">Samsung Galaxy M12</h5>
                  <div class="row">
                    <div class="col-4 col-sm-2">
                      <img style="width: 100px; height: 100px;" src="https://m.media-amazon.com/images/I/41Dv1TBuYGS._SL500_.jpg" alt="">
                    </div>
                    <div class="col-2 col-sm-3" style="display: flex; align-items: center; ">
                      <p style="color: white; text-align: justify;">aqui es el nuevo modal de bla bla bla bla bal abla ablab abla abla bal abla alba lba bla</p>
                    </div>
                    <div class="col-2 col-sm-2" style="display: flex; align-items: center;">
                      <p style="color: white;">Cantidad: 1</p>
                    </div>
                    <div class="col-2 col-sm-2" style="display: flex; align-items: center;">
                      <p style="color: white;">Precio: $350</p>
                    </div>
                    
                    <div class="col-0 col-sm-2 nav-item" style="display: flex; align-items: center; justify-content: center;">
                      <a style="background-color: rgb(255, 196, 0);" class="btn btn-block" ><i class="fa fa-minus"</i></i></a>
                      <p>.</p>
                      <a style="background-color: rgb(255, 196, 0);" class="btn btn-block" ><i class="fa fa-plus"></i></i></a>
                      <p>.</p>
                      <a style="background-color: rgb(255, 196, 0);" class="btn btn-block" ><i class="fa fa-window-close"></i></i></a>

                    </div>
                  </div>
                </div>
              </div>
             
      </div>
      <div class="modal-footer">
        <p style="color: white;" class="col-sm-1">Total: $350</p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" style="background-color: rgb(255, 196, 0);" class="btn">Comprar</button>
      </div>
    </div>
  </div>
</div>